.header {
  position: relative;

  .banner {
    width: 100%;
    height: 960px;
  }

  .logo {
    position: absolute;
    top: 40px;
    left: 50px;
  }

  .title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffd15b;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
  }

  .searchForm {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;

    .searchBar {
      background-color: white;
      width: 950px;
      height: 80px;
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      font-size: 16px;

      &::placeholder {
        color: #bbb;
        opacity: 1;
        font-weight: 100;
      }
      &::-webkit-input-placeholder {
        color: #bbb;
      }
      &:-ms-input-placeholder {
        color: #bbb;
      }
      &::-ms-input-placeholder {
        color: #bbb;
      }
    }

    .searchBtn {
      position: absolute;
      top: 50%;
      right: 490px;
      transform: translateY(-50%);
      height: 60px;
      width: 60px;
      border: none;
      border-radius: 15px;
      background-color: black;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .searchBtn i {
      margin: 0;
      padding: 0;
      font-size: 32px;
      color: white;
    }
  }
}
