.recipesSection {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding: 30px 50px;

  .recipeImage {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    height: 320px;
  }

  .recipeCard {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    width: 30%;
    height: 730px;
    display: flex;
    flex-direction: column;
    transition: transform 0.15s;

    .imageWrapper {
      position: relative;
      width: 100%;

      .recipeTimeBadge {
        position: absolute;
        top: 12px;
        right: 12px;
        background: #ffd15b;
        color: #232323;
        font-weight: 400;
        font-size: 12px;
        padding: 7px 16px;
        border-radius: 30px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        z-index: 2;
      }
    }

    .recipeInfo {
      padding: 25px;

      .recipeName {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 400;
      }

      .recipeDetails {
        margin: 10px 0 20px 0;
        font-size: 14px;
      }

      .recipeH3 {
        color: #7a7a7a;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .recipeIngredientsCtn {
        .recipeUl {
          display: flex;
          flex-wrap: wrap;
          margin: 10px 0 0 0;

          .recipeLi {
            display: flex;
            flex-direction: column;

            width: 50%;
            box-sizing: border-box;
            padding: 5px 0;

            .ingredientName {
              font-size: 14px;
              font-weight: 500;
            }

            .ingredientQuantity {
              color: #7a7a7a;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
