.filtersContainer {
  display: flex;
  gap: 20px;
  padding: 30px 90px;
  align-items: center;

  .selectWrapper {
    position: relative;
    width: 200px;
  }

  .selectIngredient,
  .selectAppliance,
  .selectUstensil {
    background: white;
    border: none;
    border-radius: 10px;
    padding: 15px 40px 15px 15px;
    font-size: 16px;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }

  .selectWrapper i {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 14px;
  }

  .totalRecettes {
    margin-left: auto;
    font-size: 20px;
    color: #333;
  }
}
